@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

.container {
  width: 400px;
  height: max-content;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background-color: #FAFAFA;
  display: flex;
  padding: 24px 32px;
}

.container-in {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h2 {
  font-weight: 600;
}

input {
  display: block;
  width: 100%;
  outline: none;
  height: 48px;
  border-radius: 8px;
}

input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 10px 0;
  color: #666666;
  border: 1px solid #EAEAEA;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
  transition: ease 200ms;
}
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #00c0ff;
}

.btn-login {
  border: none;
  display: block;
  background-color: #00c0ff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 1rem 0rem;
  border-radius: 10px;
}

.btn-login:hover {
  opacity: 85%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.welcome {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #991919;
  border-radius: 10px;
  justify-content: center;
}